<div id="container">

<h1> Lobby </h1>
<form id="new_game" action="/create_game" method="post">
  <input type="text" name="title" value="gameTitle">
  <input id="create" type="submit" name="create_board" value="Create New Game">
</form>
</div>


  <!-- <input id="join" type="submit" name="join_game" value="Join Game"> -->
